/* styles.css */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    background-color: aliceblue;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
  }
  
  #joke {
    display: block;
    max-width: 600px;
    background: #ffffff;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 22px;
    color: #333;
    margin: auto 10px;
    /* margin-bottom: 20px; */
    /* word-wrap: break-word; */
  }
  
  /* #newJokeBtn {
    display: block;
    width: fit-content;
    margin: 20px auto 0;
    background-color: #007bff;
    color: #ffffff;
    padding: 20px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #newJokeBtn:hover {
    background-color: #0056b3;
  } */